ConfigArgParse==1.3
maya==0.6.1
PyYAML==5.4.1
requests==2.25.1
## The following requirements were added by pip freeze:
certifi==2020.12.5
chardet==4.0.0
dateparser==1.0.0
humanize==3.2.0
idna==2.10
pendulum==2.1.2
python-dateutil==2.8.1
pytz==2021.1
pytzdata==2020.1
regex==2020.11.13
six==1.15.0
snaptime==0.2.4
tzlocal==2.1
urllib3==1.26.5
wrapt==1.11.1
pytest==6.2.2
pytest-cov==2.11.1
pytest-flake8==1.0.7
pytest-pylint==0.18.0
pytest-runner==5.3.0
## The following requirements were added by pip freeze:
astroid==2.5
attrs==20.3.0
coverage==5.4
flake8==3.8.4
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.7.0
pyparsing==2.4.7
toml==0.10.2
